<!DOCTYPE html>
<html lang="en"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="layout/main.html">
<div layout:fragment="main-content">
    <div class="card card-primary">
        <div class="card-header">
            <h3 class="card-title">Создать новую компанию</h3>
        </div>
            <form th:action="@{'/company/create'}" method="post" >
                <div class="card-body">
                    <div class="row">
                        <div class="col">
                            <div class="form-group">
                                <label for="exampleInputname">Название</label>
                                <input  name="companyName" type="text" class="form-control" id="exampleInputname" placeholder="">
                            </div>
                            <div class="form-group">
                                <label for="exampleInputmanager">Ф.И.О. руководителя</label>
                                <input name="managerName" type="text" class="form-control" id="exampleInputmanager" placeholder="">
                            </div>
                        </div>
                        <div class="col">
                            <div class="form-group">
                                <label for="exampleInputaddress">Адрес</label>
                                <input name="address" type="text" class="form-control" id="exampleInputaddress" placeholder="">
                            </div>
                            <div class="form-group">
                                <label for="exampleInputphone">Номер телефона</label>
                                <input name="phoneNumber" type="text" class="form-control" id="exampleInputphone" placeholder="">
                            </div>
                        </div>
                        <div class="col">
                            <div class="form-group">
                                <label for="exampleInputbin">БИН</label>
                                <input name="bin" type="text" class="form-control" id="exampleInputbin" placeholder="">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="card-footer">
                    <button type="submit" class="btn btn-primary">Ввод</button>
                </div>
            </form>
    </div>

</html>