<!DOCTYPE html>
<html lang="en"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="layout/main.html">
<div layout:fragment="main-content">
    <div class="card card-primary">
        <div class="card-header">
            <h3 class="card-title">Создать новую карточку</h3>
        </div>
        <div class="card-body">
            <form th:action="@{'/card/add'}" method="post" enctype="multipart/form-data">
                <input type="hidden" th:value="${id}" name="id_company">
                <div class="row">
                    <div class="col">
                        <div class="form-group">
                            <label for="exampleInputname">Имя</label>
                            <input  name="name" type="text" class="form-control" id="exampleInputname" required>
                        </div>
                        <div class="form-group">
                            <label for="codeInput">Формула рассчета</label>
                            <textarea id="codeInput" name="typeOfDiscount" type="text" class="form-control"></textarea>
                            <div id="responseDiv"></div>

                        </div>

                    </div>
                    <div class="col">
                        <div class="form-group">
                            <label for="typeOfCard">Тип карты</label>
                            <select name="typeOfCard" type="text" class="form-control" id="typeOfCard">
                                <option th:each="type : ${allTypeOfCard}" th:value="${type.id}" th:text="${type.name}"></option>
                            </select>
                        </div>
                        <div class="form-group">
                            <label for="exampleInputFile">Загрузить картинку</label>
                            <div class="input-group">
                                <div class="custom-file">
                                    <input type="file" class="custom-file-input" id="exampleInputFile" name="file" accept=".jpeg" onchange="showPreview(event)">
                                    <label class="custom-file-label" for="exampleInputFile">Формат изображения 860*540 (.jpeg)</label>
                                </div>
                            </div>
                            <div id="imagePreview"></div>
                        </div>

                    </div>
                </div>
                <div class="card-footer">
                    <button id="checkButton" type="button" class="btn btn-primary">Проверить код</button>
                    <button id="createButton" type="submit" class="btn btn-primary">Создать</button>
                </div>
            </form>
        </div>
    </div>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script>
        $(document).ready(function() {
            // Скрыть кнопку "Создать" при загрузке страницы
            $("#createButton").hide();

            // Обработчик события для кнопки "Проверить код"
            $("#checkButton").click(function() {
                var url = "http://localhost:8080/crm/transaction/0";
                var codeValue = $("#codeInput").val();
                var requestBody = {
                    "card_id": "1",
                    "id": "MB192430",
                    "bonus": 0,
                    "code": codeValue,
                    "items": [
                        {"name": "шаровая1", "count": 1.0, "price": 100, "amount": 100},
                        {"name": "шаровая2", "count": 2.0, "price": 200, "amount": 400},
                        {"name": "шаровая3", "count": 3.0, "price": 300, "amount": 900}
                    ]
                };
                var headers = {
                    "Authorization": "853dc021-801d-4ed1-9e60-2ef398de9a57",
                    "Content-Type": "application/json"
                };

                $.ajax({
                    type: "POST",
                    url: url,
                    data: JSON.stringify(requestBody),
                    headers: headers,
                    success: function(response) {
                        // Показать кнопку "Создать" после успешного ответа от сервера
                        $("#createButton").show();
                        // Вывести ответ от сервера в div под полем ввода
                        $("#responseDiv").text("Ответ от сервера: " + JSON.stringify(response));
                    },
                    error: function(xhr, status, error) {
                        // Вывести сообщение об ошибке в div под полем ввода
                        $("#responseDiv").text("Ошибка: " + error);
                    }
                });
            });
        });
    </script>
    <script>
        function showPreview(event) {
            var input = event.target;
            if (input.files && input.files[0]) {
                var reader = new FileReader();
                reader.onload = function (e) {
                    var preview = document.getElementById('imagePreview');
                    preview.innerHTML = '<img src="' + e.target.result + '" alt="Preview">';
                };
                reader.readAsDataURL(input.files[0]);
            }
        }
    </script>
</div>
</html>