<!DOCTYPE html>
<html lang="en"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="layout/main.html">
<div layout:fragment="main-content">
    <div class="card card-primary">
        <div class="card-header d-flex justify-content-between">
            <h3 style="margin-top: 10px" class="card-title">Информация о карте</h3>
            <div class="ml-auto"><a class="btn btn-primary" th:href="'/card/update/'+${card.id}+'/'+${companyId}">Изменить информацию</a>
                <button class="btn btn-primary" style="margin-left:2rem;" data-toggle="modal" data-target="#modal-default">Удалить карту</button>
            </div>
        </div>
        <div class="card-body">
            <div class="row">
                <div class="col">
                    <div class="form-group">
                        <input type="hidden" th:value="${card.id}" name="id" class="form-control">
                        <input type="hidden" th:value="${companyId}" name="idCompany" class="form-control">
                        <label>Название</label>
                        <h4 th:text="${card.name}"></h4>
                    </div>
                    <div class="form-group">
                        <label>Дизайн</label>
                    </div>
                    <div class="form-group">
                        <img th:src="${card.image}" width="306" height="188">
                    </div>
                </div>
                <div class="col">
                    <div class="form-group">
                        <label>TypeOfDiscount</label>
                        <h4 th:text="${card.typeOfDiscount}"></h4>
                    </div>
                    <div class="form-group mt-5">
                        <form th:action="@{'/card/update_status'}" method="post">
                            <input name="id" type="hidden" th:value="${card.id}">
                            <input name="idCompany" type="hidden" th:value="${companyId}">
                            <div class="form-group">
                                <label>Статус карты</label>
                                <div class="form-check">
                                    <input class="form-check-input" type="radio" name="cardStatus" id="on" value="1" th:checked="${card.status == true}">
                                    <label class="form-check-label" for="on">Карта активна</label>
                                </div>
                                <div class="form-check">
                                    <input class="form-check-input" type="radio" name="cardStatus" id="off" value="0" th:checked="${card.status == false}">
                                    <label class="form-check-label" for="off">Карта не активна</label>
                                </div>
                            </div>
                            <button type="submit" class="btn btn-primary">Изменить статус</button>
                        </form>
                    </div>
                </div>
                <div class="col">
                    <div class="form-group">
                        <label>Тип карты</label>
                        <h4 th:text="${card.typeOfCard.name}"></h4>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="modal fade" id="modal-default">
        <div class="modal-dialog">
            <div class="modal-content" >
                <div style="text-align: center" class="modal-header">
                    <h4 style="margin: 0 auto" class="modal-title">Удалить карту?</h4>
                </div>
                <div class="modal-footer justify-content-between">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Не удалять</button>
                    <form th:action="'/card/delete?'" method="post">
                        <input name="cardId" type="hidden" th:value="${card.id}">
                        <input name="companyId" type="hidden" th:value="${companyId}">
                        <button type="submit" class="btn btn-danger">Удалить</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
</html>