<!DOCTYPE html>
<html lang="en"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="layout/main.html">
<div layout:fragment="main-content">
  <div class="card card-primary">
    <div class="card-header">
      <h3 class="card-title">Изменить данные</h3>
    </div>
    <div class="card-body">
      <form th:action="@{'/card/update'}" method="post" enctype="multipart/form-data">
        <input type="hidden" th:value="${card.id}" name="id_card">
        <input type="hidden" th:value="${companyId}" name="id_company">
        <div class="row">
          <div class="col">
            <div class="form-group">
              <label for="exampleInputname">Имя</label>
              <input th:value="${card.name}"  name="name" type="text" class="form-control" id="exampleInputname" placeholder="">
            </div>
            <div class="form-group">
              <label for="exampleInputFile">Загрузить новую картинку</label>
              <div class="input-group">
                <div class="custom-file">
                  <input type="file" class="custom-file-input" id="exampleInputFile" name="file" accept=".jpeg" onchange="showPreview(event)">
                  <label class="custom-file-label" for="exampleInputFile">Формат изображения 860*540 (.jpeg)</label>
                </div>
              </div>
            </div>
            <div id="imagePreview"></div>
            <div id="img">
              <img th:src="${card.image}">
            </div>
          </div>
          <div class="col">
            <div class="form-group">
              <label for="exampleInputaddress">Формула рассчета</label>
              <input th:value="${card.typeOfDiscount}" name="typeOfDiscount" type="text" class="form-control" id="exampleInputaddress" placeholder="" >
            </div>
          </div>
        </div>
        <div class="card-footer">
          <button type="submit" class="btn btn-primary">Создать</button>
        </div>
      </form>
    </div>
  </div>
  <script>
    function showPreview(event) {
      var input = event.target;
      if (input.files && input.files[0]) {
        var reader = new FileReader();
        reader.onload = function (e) {
          var preview = document.getElementById('imagePreview');
          preview.innerHTML = '<img src="' + e.target.result + '" alt="Preview">';

          var imgDiv = document.getElementById('img');
          if (preview.innerHTML.trim() !== '') {
            imgDiv.style.display = 'none'; // Скрыть <div> с id "img"
          } else {
            imgDiv.style.display = 'block'; // Показать <div> с id "img"
          }
        };
        reader.readAsDataURL(input.files[0]);
      }
    }
  </script>

</div>
</html>