<aside class="main-sidebar sidebar-dark-primary elevation-4" xmlns:sec="http://www.w3.org/1999/xhtml">
    <div class="sidebar">
        <div class="user-panel mt-3 pb-3 mb-3 d-flex">
            <a th:href="'/user/personal'">
                <div class="info">
                    <div>Личный кабинет</div>
                    <span class="mt-2" th:text="${session.userNAME}"></span>
                </div>
            </a>
        </div>
        <nav class="mt-2">
            <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="false">
                <li class="nav-item">
                    <a href="/customer/" class="nav-link">
                        <p>Все клиенты</p>
                    </a>
                </li>
                <li class="nav-item" sec:authorize="hasAnyRole('ROLE_ADMIN')">
                    <a href="/company/" class="nav-link">
                        <p>Компании</p>
                    </a>
                </li>
                <li class="nav-item" sec:authorize="hasAnyRole('ROLE_ADMIN')">
                    <a href="/user/" class="nav-link">
                        <p>Администраторы</p>
                    </a>
                </li>
                <li class="nav-item" sec:authorize="hasAnyRole('ROLE_USER')">
                    <a href="/company/mycompany" class="nav-link">
                        <p>Компания</p>
                    </a>
                </li>
                <li class="nav-item" sec:authorize="hasAnyRole('ROLE_USER')">
                    <a href="/push/" class="nav-link">
                        <p>Push Уведомления</p>
                    </a>
                </li>
            </ul>
        </nav>
    </div>
</aside>
