<!DOCTYPE html>
<html lang="en"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="layout/main.html">
<div layout:fragment="main-content">
        <div class="card-body">
            <ul class="nav nav-tabs" id="custom-content-below-tab" role="tablist">
                <li class="nav-item">
                    <a class="nav-link active" id="custom-content-below-home-tab" data-toggle="pill" href="#custom-content-below-home" role="tab" aria-controls="custom-content-below-home" aria-selected="true">Информация о компании</a>
                </li>
            </ul>
            <div class="tab-content" id="custom-content-below-tabContent">
                <div class="tab-pane fade show active" id="custom-content-below-home" role="tabpanel" aria-labelledby="custom-content-below-home-tab">
                    <div class="card card-primary">
                        <div class="card-header d-flex justify-content-between">
                            <div class="ml-auto"><a th:href="'/customer/update/'+${customer.getId()}">Изменить информацию</a></div>
                        </div>
                        <div class="card-body">
                            <div class="row">
                                <div class="col">
                                    <div class="form-group">
                                        <input type="hidden" th:value="${customer.getId()}" name="id" class="form-control">
                                        <label>Название</label>
                                        <h4 th:text="${customer.name}"></h4>
                                    </div>
                                    <div class="form-group">
                                        <label>Ф.И.О. руководителя</label>
                                        <h4 th:text="${customer.email}"></h4>
                                    </div>
                                </div>
                                <div class="col">
                                    <div class="form-group">
                                        <label>Адрес</label>
                                        <h4 th:text="${'+7'+customer.phoneNumber}"></h4>
                                    </div>
                                    <div class="form-group">
                                        <label>Номер телефона</label>
                                        <h4 th:text="${customer.birthday}"></h4>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

</html>

